In [1]:
numbers = [10, 20, 30, 40, 50]
total = sum(numbers)
print("Total:", total)

Total: 150

In [3]:
grades = [85, 90, 78, 92, 88]
average_grade = sum(grades) / len(grades)
print("Average Grade:", average_grade)

Average Grade: 86.6

In [5]:
words = ["apple", "banana", "apple", "orange", "banana", "apple"]
word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print("Word Count:", word_count)

Word Count: {'apple': 3, 'banana': 2, 'orange': 1}

In [7]:
expenses = {
    "rent": 1200,
    "groceries": 300,
    "utilities": 150,
    "entertainment": 100
}
total_expenses = sum(expenses.values())
print("Total Expenses:", total_expenses)

Total Expenses: 1750

In [9]:
temperatures = [22, 24, 19, 23, 25, 21, 20]
average_temperature = sum(temperatures) / len(temperatures)
print("Average Temperature:", average_temperature)

Average Temperature: 22.0

In [11]:
expenses = {
    "January": {"rent": 1200, "groceries": 300, "utilities": 150, "entertainment": 100},
    "February": {"rent": 1200, "groceries": 320, "utilities": 140, "entertainment": 120},
    "March": {"rent": 1200, "groceries": 310, "utilities": 145, "entertainment": 110}
}

total_expenses = {}
for month, categories in expenses.items():
    for category, amount in categories.items():
        if category in total_expenses:
            total_expenses[category] += amount
        else:
            total_expenses[category] = amount

print("Total Expenses by Category:", total_expenses)

Total Expenses by Category: {'rent': 3600, 'groceries': 930, 'utilities': 435, 'entertainment': 330}

In [13]:
sales_data = [
    {"product": "A", "quantity": 10, "price": 5.0},
    {"product": "B", "quantity": 5, "price": 8.0},
    {"product": "A", "quantity": 8, "price": 5.0},
    {"product": "C", "quantity": 7, "price": 10.0},
    {"product": "B", "quantity": 10, "price": 8.0}
]

total_sales = {}
for sale in sales_data:
    product = sale["product"]
    amount = sale["quantity"] * sale["price"]
    if product in total_sales:
        total_sales[product] += amount
    else:
        total_sales[product] = amount

print("Total Sales by Product:", total_sales)

Total Sales by Product: {'A': 90.0, 'B': 120.0, 'C': 70.0}

In [15]:
exam_scores = [
    {"student_id": 1, "exam": "Math", "score": 85},
    {"student_id": 2, "exam": "Math", "score": 78},
    {"student_id": 1, "exam": "Science", "score": 92},
    {"student_id": 2, "exam": "Science", "score": 88},
    {"student_id": 1, "exam": "History", "score": 74},
    {"student_id": 2, "exam": "History", "score": 81}
]

student_averages = {}
for score in exam_scores:
    student_id = score["student_id"]
    if student_id not in student_averages:
        student_averages[student_id] = {"total_score": 0, "exam_count": 0}
    student_averages[student_id]["total_score"] += score["score"]
    student_averages[student_id]["exam_count"] += 1

for student_id, data in student_averages.items():
    data["average_score"] = data["total_score"] / data["exam_count"]

print("Average Exam Scores by Student:", student_averages)

Average Exam Scores by Student: {1: {'total_score': 251, 'exam_count': 3, 'average_score': 83.66666666666667}, 2: {'total_score': 247, 'exam_count': 3, 'average_score': 82.33333333333333}}

In [17]:
import random

# Define categories and months
categories = ["rent", "groceries", "utilities", "entertainment"]
months = ["January", "February", "March"]

# Generate random expenses for each category in each month
expenses = {month: {category: random.randint(100, 1500) for category in categories} for month in months}

# Print the generated expenses
print("Generated Expenses:")
print(expenses)

Generated Expenses:
{'January': {'rent': 733, 'groceries': 966, 'utilities': 619, 'entertainment': 367}, 'February': {'rent': 514, 'groceries': 1097, 'utilities': 348, 'entertainment': 1225}, 'March': {'rent': 695, 'groceries': 385, 'utilities': 582, 'entertainment': 430}}

In [19]:
import random

categories = ["rent", "groceries", "utilities", "entertainment"]
months = ["January", "February", "March"]

expenses = {month: {category: random.randint(100, 1500) for category in categories} for month in months}

total_expenses = {}
for month, categories in expenses.items():
    for category, amount in categories.items():
        if category in total_expenses:
            total_expenses[category] += amount
        else:
            total_expenses[category] = amount

print("Expenses:", expenses)
print("Total Expenses by Category:", total_expenses)

Expenses: {'January': {'rent': 1467, 'groceries': 1107, 'utilities': 418, 'entertainment': 1158}, 'February': {'rent': 412, 'groceries': 770, 'utilities': 1457, 'entertainment': 996}, 'March': {'rent': 933, 'groceries': 731, 'utilities': 737, 'entertainment': 1385}}
Total Expenses by Category: {'rent': 2812, 'groceries': 2608, 'utilities': 2612, 'entertainment': 3539}

In [21]:
import random
products = ["A", "B", "C"]
sales_data = [
    {
        "product": random.choice(products),                 # Randomly choose a product from the products list
        "quantity": random.randint(1, 20),                  # Randomly generate a quantity between 1 and 20
        "price": round(random.uniform(1.0, 10.0), 2)        # Randomly generate a price between 1.0 and 10.0 (rounded to 2 decimal places)
    }
    for _ in range(10)                                      # Repeat 10 times to generate 10 sales data entries
]
print("Sales Data:")
print(sales_data)

Sales Data:
[{'product': 'B', 'quantity': 14, 'price': 9.83}, {'product': 'A', 'quantity': 11, 'price': 7.21}, {'product': 'C', 'quantity': 3, 'price': 5.11}, {'product': 'A', 'quantity': 9, 'price': 7.85}, {'product': 'B', 'quantity': 12, 'price': 1.78}, {'product': 'C', 'quantity': 6, 'price': 2.69}, {'product': 'C', 'quantity': 10, 'price': 4.19}, {'product': 'A', 'quantity': 20, 'price': 3.49}, {'product': 'C', 'quantity': 2, 'price': 9.88}, {'product': 'A', 'quantity': 11, 'price': 2.63}]

In [23]:
import random

products = ["A", "B", "C"]
sales_data = [
    {"product": random.choice(products), "quantity": random.randint(1, 20), "price": round(random.uniform(1.0, 10.0), 2)}
    for _ in range(10)
]

total_sales = {}
for sale in sales_data:
    product = sale["product"]
    amount = sale["quantity"] * sale["price"]
    if product in total_sales:
        total_sales[product] += amount
    else:
        total_sales[product] = amount

print("Sales Data:", sales_data)
print("Total Sales by Product:", total_sales)

Sales Data: [{'product': 'B', 'quantity': 8, 'price': 8.73}, {'product': 'B', 'quantity': 5, 'price': 1.32}, {'product': 'A', 'quantity': 3, 'price': 4.83}, {'product': 'C', 'quantity': 16, 'price': 5.79}, {'product': 'C', 'quantity': 7, 'price': 2.87}, {'product': 'B', 'quantity': 15, 'price': 9.5}, {'product': 'B', 'quantity': 19, 'price': 5.39}, {'product': 'C', 'quantity': 1, 'price': 3.74}, {'product': 'B', 'quantity': 6, 'price': 9.74}, {'product': 'C', 'quantity': 18, 'price': 3.39}]
Total Sales by Product: {'B': 379.79, 'A': 14.49, 'C': 177.49}

In [25]:
import random

students = [1, 2, 3]
exams = ["Math", "Science", "History"]
exam_scores = [
    {"student_id": random.choice(students), "exam": random.choice(exams), "score": random.randint(50, 100)}
    for _ in range(10)
]

student_averages = {}
for score in exam_scores:
    student_id = score["student_id"]
    if student_id not in student_averages:
        student_averages[student_id] = {"total_score": 0, "exam_count": 0}
    student_averages[student_id]["total_score"] += score["score"]
    student_averages[student_id]["exam_count"] += 1

for student_id, data in student_averages.items():
    data["average_score"] = data["total_score"] / data["exam_count"]

print("Exam Scores:", exam_scores)
print("Average Exam Scores by Student:", student_averages)

Exam Scores: [{'student_id': 3, 'exam': 'Math', 'score': 70}, {'student_id': 1, 'exam': 'Math', 'score': 72}, {'student_id': 2, 'exam': 'Science', 'score': 72}, {'student_id': 3, 'exam': 'Science', 'score': 98}, {'student_id': 3, 'exam': 'Science', 'score': 77}, {'student_id': 1, 'exam': 'Math', 'score': 87}, {'student_id': 3, 'exam': 'Math', 'score': 63}, {'student_id': 3, 'exam': 'Science', 'score': 98}, {'student_id': 2, 'exam': 'Math', 'score': 78}, {'student_id': 3, 'exam': 'Math', 'score': 57}]
Average Exam Scores by Student: {3: {'total_score': 463, 'exam_count': 6, 'average_score': 77.16666666666667}, 1: {'total_score': 159, 'exam_count': 2, 'average_score': 79.5}, 2: {'total_score': 150, 'exam_count': 2, 'average_score': 75.0}}